<h2><%= @hh.locale %>, <%= @hh.date %></h2>
<form action="/happy_hours/<%=@hh.id%>/edit" method="POST">
  <input type="hidden" id="hidden" value="patch" name="_method">
  <p><label for="locale">Where'd you go?:</label>
  <input list="locales" name="hh[locale]" placeholder="<%= @hh.locale %>"></p>
    <datalist id="locales">
      <% @user.happy_hours.each do |l| %>
        <option value="<%= l.locale.capitalize %>"><%= l.locale.capitalize %></option>
        <% end %>
      </datalist></p>
  <p><label for="date">When'd you go?:</label>
  <input type="text" name="hh[date]" placeholder="<%= @hh.date %>"></p>
  <p><label for="food">What'd you eat?:</label>
  <input type="text" name="hh[food]" placeholder="<%= @hh.food %>"></p>
  <p><label for="drink">What'd you drink?:</label>
  <input type="text" name="hh[drink]" placeholder="<%= @hh.drink %>"></p>
  <p><label for="friends">Who'd you eat with?:</label>
  <input type="text" name="hh[friends]" placeholder="<%= @hh.friends %>"></p>
  <p><label for="rating">Rating, 1-5:</label>
  <input type="text" name="hh[rating]" placeholder="<%= @hh.rating %>"></p>
  <input type="submit" value="Change it!" >
</form>
<form action="/happy_hours/<%= @hh.id %>/delete" method="POST">
  <input type="hidden" id="hidden" value="delete" name="_method">
    <input type="submit" value="Delete it!" />
</form>
<form action="/happy_hours/<%= @hh.id %>">
    <input type="submit" value="Cancel" />
</form>
<p></p>
<br>
