<h2><%= @hh.locale %>, <%= @hh.date %></h2>
<ul>
  <li>Food: <%= @hh.food %></li>
  <li>Drink: <%= @hh.drink %></li>
  <li>Friends: <%= @hh.friends %></li>
  <li>Rating: <%= @hh.rating %></li>
</ul>
<form action="/happy_hours/<%= @hh.id %>/edit">
    <input type="submit" value="Edit"/>
</form>
<form action="/happy_hours/<%= @hh.id %>/delete" method="POST">
  <input type="hidden" id="hidden" value="delete" name="_method">
    <input type="submit" value="Delete"/>
</form>
<form action="/happy_hours">
    <input type="submit" value="Home"/>
</form>
<form action="/happy_hours/new">
    <input type="submit" value="Log a New Journal Entry"/>
</form>
<form action="/logout">
    <input type="submit" value="Logout"/>
</form>
